<!DOCTYPE html>
<html>
  <head>
    <title>🔥 stickers.win 🚀</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta content='width=device-width, initial-scale=1.0', name="viewport">
  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to "🔥 stickers.win 🚀", :root %></h1>
        <p class="tagline">such sticker many wow</p>
      </header>
      <%= yield %>
      <div class="footer">
      </div>
    </div>
  </body>
</html>
